@import "https://unpkg.com/normalize.css/normalize.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Lato:400,700|Lora:400,700";

body {
  line-height: 1.625;

  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-center {
  text-align: center;
}

nav {
  border-top: solid 1px #ebebeb;
  border-bottom: solid 1px #ebebeb;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  margin: 0 auto;
}

a {
  color: #b59429;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #b59429;
  font-family: "Lora", serif;
  font-weight: 400;
}

ul.menu {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

ul.menu li {
  display: inline-block;
  padding: 5px 20px;
}
